<body class="text-center">
    <form class="form-signin" asp-action="Index" asp-controller="Dashboard">
        <img class="mb-4" src="~/img/background.jpg" alt="" width="72" height="72">
        <h1 class="h2 mb-3 font-weight-normal">eGaraż<br /> OSP Czatkowice</h1>
        <label for="inputEmail" class="sr-only">Login</label>
        <input type="text" id="inputEmail" class="form-control" placeholder="Login" autofocus>
        <label for="inputPassword" class="sr-only">Hasło</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Hasło">
        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me"> Zapamiętaj mnie
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Zaloguj</button>
        <p class="mt-5 mb-3 text-muted">&copy; Krzysztof Ryś 2020</p>
    </form>
</body>